#root {
  background-color: #242424;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
  .logo {
    display: flex;
    cursor: pointer;
    &__img {
      width: 48px;
      height: 48px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 15px;
      margin: 5px;
      &-game {
        color: #da00fe;
      }
      &-store {
        color: #a100ed;
        margin-left: 20px;
      }
    }
  }
  .menu {
    display: flex;
    list-style-type: none;
    &__item {
      padding-right: 10px;
      color: #8a8a8a;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: #da00fe;
      }
    }
  }
  &__search {
    width: 360px;
    background-color: #323232;
    border-radius: 16px;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    &-img {
      margin-left: 20px;
    }
    &-field {
      border: none;
      background-color: #323232;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      margin-left: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  &__wishlist {
    display: flex;
    gap: 20px;
    height: fit-content;
    margin-top: 0;
    margin-bottom: auto;
   position: relative;
   align-items: center;
   &-basket{
    position: relative;
  cursor: pointer;
  & p {
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    padding: 0 0 2px 0;
    border-radius: 20px;
    width: 20px;
    color: #da00fe;
    font-weight: 600;
    font-size: 14px;
    height: 18px;
    position: absolute;
    top: -3px;
    right: -2px;
          }
}
&-favorites{
  position: relative;
  cursor: pointer;
  & p {
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    padding: 0 0 2px 0;
    border-radius: 20px;
    width: 20px;
    color: #da00fe;
    font-weight: 600;
    font-size: 14px;
    height: 18px;
    position: absolute;
    top: 0px;
    right: 2px;
          }
}
   }
 
  }


.banner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#550a78, #da00fe);
  margin: 20px 230px;
  border-radius: 16px;
  align-items: center;
  padding: 0 60px;
  &__title {
    color: #ffffff;
    font-weight: 200;
    font-size: 48px;
    margin: 0;
    &-VR {
      color: #da00fe;
    }
  }
  &__subtitle {
    color: #ffffff;
    font-weight: 100;
    margin: 0;
    font-size: 32px;
  }
  &__text {
    color: #ffffff;
    font-weight: 600;
  }
  &__btn {
    background-color: #ffffff;
    border-radius: 16px;
    width: 180px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    &-text {
      background-color: #ffffff;
      color: #da00fe;
      border: none;
      font-size: 18px;
      font-weight: 100;
    }
  }
  &__VR-img {
    height: 350px;
    margin-top: -30px;
  }
}
.products {
  padding: 30px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  &__title {
    padding: 30px 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
  }
  &__product {
    background-color: #323232;
    width: 220px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 310px;
    padding-bottom: 30px;
    gap: 10px;
    &-img {
      max-width: 170px;
      max-height: 140px;
      position: relative;
    }
    &-name {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
    }
    &-type {
      color: #8a8a8a;
      font-size: 12px;
    }
    &-price {
      font-size: 16px;
      font-weight: 400;
      color: #da00fe;
    }
    &-color {
      color: #8a8a8a;
      font-size: 16px;
    }
    &-add {
      display: flex;
      cursor: pointer;
      &:hover .products__product-plus {
        background-color: #da00fe;
      }
    }
    &-btn {
      border: none;
      background-color: #323232;
      font-size: 12px;
      font-weight: 100;
      color: #ffffff;
      cursor: pointer;
    }
    &-plus {
      border-radius: 20px;
      background-color: #8a8a8a;
      color: #323232;
      width: 25px;
      height: 20px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      margin: 0;
    }
    &-favorites{
      position: absolute;
      bottom: 30px;
      right: 20px;
      cursor: pointer;
    }
  }
}
.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  &__content {
    background-color: #323232;
    border-radius: 20px;
    width: 100%;
    max-width: 370px;
    padding: 30px 30px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__close {
    margin: 10px 10px 5px 0;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(-45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background: gray;
      transform: rotate(45deg);
    }
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    color: rgba(25, 25, 25, 1);
  }
  &__image {
    margin-bottom: 60px;
  }
  &__body {
    color: rgba(127, 127, 127, 1);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__footer {
    display: flex;
    gap: 40px;
  }
  &__first-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(138, 51, 253, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: none;
  }
  &__second-btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(138, 51, 253, 1);
    font-size: 16px;
    font-weight: 500;
    width: 192px;
    height: 48px;
    border: 1px solid rgba(60, 66, 66, 1);
  }
}
.footer{
  margin-top: 60px;
  display: flex;
  background-color: #323232;
  padding: 30px 60px;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &__info{
    width: 20%;
    & h3, p {
      color: #ffffff;
    }
   
  }
& span{
  color: #ffffff;
}
&__socials{
  width: 100%;
  margin-left: 80px;
  display: flex;
  gap: 10px;
}
}